/* Recreación de carretes pero con estilos de caja */
.fila-flex {
  display: flex;
  gap: 20px;
  align-items: stretch;
  /* ambas columnas misma altura */
  margin-top: 20px;
}

.lado-img {
  width: 15%;
  /* ajusta a tu gusto */
}

.lado-carrete {
  width: 80%;
}

.image-izq {
  padding-left: 20px;
  width: 250px;
  height: 100%;
  /* se estira al alto del carrete */
  object-fit: contain;
}

.carrete-h {
  width: 100%;
  max-height: 350px;
  padding: 40px 20px;
  margin: 40px;
  background: #222;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Agujeros arriba y abajo */
.carrete-h::before,
.carrete-h::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  background: repeating-linear-gradient(to right,
      transparent 0px,
      transparent 20px,
      white 20px,
      white 40px);
}

/* superior */
.carrete-h::before {
  top: -20px;
}

/* inferior */
.carrete-h::after {
  bottom: -20px;
}

/* -------- Galería horizontal sin JS -------- */

.fila-scroll {
  display: flex;
  scrollbar-width: thin;
  scrollbar-color: #888 #222;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  padding-bottom: 10px;

}

.fila-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 #222;
}

.fila-scroll img {
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  flex-shrink: 0;
  /* para que no se encojan */
  scroll-snap-align: center;
}

/* Contenedor de cada foto */
.foto-item {
  position: relative;
  display: inline-block;
}

/* El link ocupa toda la imagen */
.foto-item a {
  display: block;
  position: relative;
}

/* Overlay */
.overlay-foto {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  font-size: 22px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  border-radius: 5px;
}

/* Hover: aparece */
.foto-item:hover .overlay-foto {
  opacity: 1;
}

/* Para que la imagen no salte al hacer hover */
.foto-item img {
  display: block;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 600px) {
  .fila-flex {
    flex-direction: column;
  }

  .lado-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .image-izq {
    padding-left: 0;
  }

  .carrete-h {
    padding: 20px 0 20px 20px;
    padding: 40px 0 40px 40px;

  }

  .fila-scroll img {
    height: 300px;
  }
}