/* Contenedor de tarjeta*/
.card-container {
  width: 680px;
  height: 400px;
  margin: 50px auto;
  perspective: 1000px;
  cursor: pointer;
  display: flex;
}

/* Tarjeta */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

/* Al hacer clic */
.card-container.flipped .card {
  transform: rotateY(180deg);
}

/* Caras */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
}

/* Frente de la tarjeta */
.card-front {
  background-image: url("../assets/contacto/contacto.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reverso */
.card-back {
  background: #eee;
  color: #000000;
  transform: rotateY(180deg);
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.top-right {
  /* position: absolute;
  top: 20px;
  right: 20px; */
  color: #000000;
  text-align: right;
}

.bottom-left {
  /* position: absolute;
  top: 40px;
  left: 20px; */
  text-align: left;
  font-size: 1rem;
}

.title {
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  margin: 0;
}

/* Teléfono */
.tel {
  font-weight: 300;
  font-size: 15px;
  color: #000000;
  margin: 0;
}

/* Email */
.email a {
  color: #000000;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}

/* Instagram */
.instagram a {
  color: #000000;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}

.email a,
.instagram a:link,
.instagram a:visited,
.instagram a:active {
  color: #000000;
  text-decoration: none;
}

.email a:hover,
.instagram a:hover {
  font-weight: bolder;
  text-decoration: none;
}

@media (max-width: 900px) {
  .card-container {
    width: 100%;
    /* mantiene proporción si es necesario */
  }

  .wrapper {
    padding: 20px;
  }

  .card-back {
    flex-direction: column;
    align-items: stretch;

  }
}