/* Contenedor principal: flex + wrap */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* espacio entre bloques */
}

/* Bloque individual */
.block {
  position: relative;
  width: 200px;
  height: 500px;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
}

.image-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-text {
  position: absolute;
  /* se posiciona sobre la imagen */
  bottom: 30px;
  /* distancia desde abajo */
  left: 30px;
  /* distancia desde la izquierda */
  color: white;
  background-color: rgba(0, 0, 0);
  border-radius: 10px;
  z-index: 2;
}

/* Imagen original */
.main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
  z-index: 3;
}

/* Imagen que sustituye */
.hover-img {
  position: absolute;
  top: 100%;
  /* empieza debajo del bloque */
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  z-index: 1;

}

/* Hover: original sube, la de abajo entra */
.block:hover .main-img {
  transform: translateY(-100%);
}

.block:hover .hover-img {
  transform: translateY(-100%);
}


/* Responsive */
@media (min-width: 640px) {
  .block {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .container {
    gap: 0;
    padding: 30px;
  }

  .block {
    width: 100%;
    height: 250px;
  }

  .block:hover .main-img {
    transform: none;
  }

  .block:hover .hover-img {
    transform: none;
  }

  /* Móvil: el texto aparece automáticamente después de que la imagen overlay entra */
  .image-text {
    display: none;
  }

}