@charset "UTF-8";

/* CSS Document */
.contenedor-general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.columna-izq {
  width: 40%;
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.top-buttons.detail {
  justify-content: flex-end;
}

.bloque-arriba h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
}

.columna-der {
  width: 60%;
}

.columna-der .container {
  width: 100% !important;
  padding: 0;
}

carousel-inner,
.carousel-inner .item {
  background-color: #000000 !important;
}

.carousel-inner .item img {
  background-color: #000000;
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.carousel-inner .item img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

/* responsive */
@media (max-width: 800px) {
  .contenedor-general {
    flex-direction: column;
    padding: 20px;
  }

  .columna-izq,
  .columna-der {
    width: 100%;
  }
}