/* contendedor de 2 columnas */

.wrapper {
    display: flex;
    padding: 40px;
}

/*columna izq */

.left-column {
    flex: 1;
    margin-top: 0;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    box-sizing: border-box;
}

.left-column h1 {
    font-size: 90px;
    margin: 0;
}

/* columna dch*/

.right-column {
    flex: 1;
    height: 100vh;
}

.right-column img {
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
}

/* responsive */

@media (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        height: auto;
    }

    .right-column {
        order: 1;
    }

    .left-column {
        order: 2;
        padding: 0;
    }

    .right-column img {
        height: 60vh;
    }

}