@charset "UTF-8";

/* CSS Document */
/* Contenedor de los botones */
.top-buttons {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* Estilo base de ambos botones */
.btn {
    background-color: #FFFFFF;
    padding: 14px 20px;
    text-decoration: none;
    color: #000000;
    border-radius: 50px;
    transition: .3s;
    font-size: 15px;
    font-family: "Ibm plex mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth"100;
}

/* Hover */
.btn:hover {
    background-color: #ddd;
    color: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: #000000;
    font-family: "Ranchers";
    margin-bottom: 10px;
}

p {
    color: #000000;
    font-size: 13px;
    font-family: "ibm plex mono";
    font-weight: 400;
    font-style: normal;
}

.fade-up {
    /* animación entrada desde abajo */
    opacity: 0;
    transform: translateY(200px);
    animation: fadeUp 1s ease-out forwards;
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-down {
    /* animación entrada desde arriba */
    opacity: 0;
    transform: translateX(200px);
    animation: fadeDown 1s ease-out forwards;
}
@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* contendedor de 2 columnas */

.wrapper {
    display: flex;
    height: 100vh;
    padding: 40px;
}

/*columna izq */

.left-column {
    flex: 1;
    margin-top: 0;
    padding-left: 40px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    box-sizing: border-box;
    position: relative;
}

.left-column h1 {
    font-size: 90px;
    margin: 0;
}

/* columna dch*/

.right-column {
    flex: 1;
    height: 100vh;
}

.right-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

/* responsive */

@media (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        height: auto;
    }

    .right-column img {
        height: 60vh;
    }

}