@charset "UTF-8";
/* CSS Document */
.top-buttons {
  width: 100%;
  padding: 20px;
  display:flex;
  justify-content:flex-end;
  align-items: right;
  box-sizing: border-box;
}

.buttons{
	text-color:#00000;
	font-size:15px;
	font-family: "Ibm plex mono", sans-serif;
	font-weight:400;
  	font-style:normal;
 	font-variation-settings: "wdth" 100;
/* Estilo base de ambos botones */
}
.btn {
  background-color: #FFFFFF;
  padding: 14px 20px;
  text-decoration: none;
  color:#000000;
  border-radius:50px;
  transition: .3s;
}

/* Hover */
.btn:hover {
  background-color: #ddd;
  color: black;
}

h1 {
	text-color:#00000;
	font-family: "Ranchers";
}
	p {
	font-family: "Ibm plex mono", sans-serif;
	font-size:20px;
	font-weight:300;
}

.contenedor-general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    padding-left: 40px;
	padding-right: 40px;
    box-sizing: border-box;
}
		.columna-izq {
            width: 40%;
            display: flex;
			gap:80px;
            flex-direction: column;
        }

        .bloque-arriba h1 {
            margin: 0;
            font-size: 35px;
            font-weight: 700;
            text-align: left;
        }
        
        .columna-der {
            width: 60%;
        }

        .columna-der .container {
            width: 100% !important; 
            padding: 0;
        }

		carousel-inner,
		.carousel-inner .item {
			background-color: #000000 !important;
		}

		.carousel-inner .item img {
			background-color: #000000;
			width: 100%;
			height: 600px;
			object-fit: contain;
		}

        .carousel-inner .item img {
            width: 100%;
			height:600px;
            object-fit: contain;
        }

        /* === RESPONSIVE === */
        @media (max-width: 800px) {
            .contenedor-general {
                flex-direction: column;
                padding: 20px;
            }
            .columna-izq, .columna-der {
                width: 100%;
            }
        }
